* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    display:flex ;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 100px;
    margin-left: 10px;
}

/* Inicio Cabecera */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 10px;
    background-color: #3D0000;
    width: 100%;
}

/* Fin Cabecera */


/* Menu Navegación */

.nav-links {
    list-style: none;
    margin-right: 10px;
}

.nav-links li{
    display: inline-block;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.nav-links li a:hover {
    color: red;
}

/* Fin Menu Navegación */


/* Index Inico */

/* Css grid Inicio */
.grid {
    display: grid;
    margin: 30px 80px;
    grid-template: 
    'content1 content2'
    'content3 content3';
}

.content1 video{
    grid-area: content1;
    box-shadow: 0 0 15px 0 #0D8573;
}

.content1 video:hover{
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 15px 0 #E84343;
}


.content2 img{
    grid-area: content2;
    box-shadow: 0 0 15px 0 #0D8573;
    height: 480px;
}

.content2 img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 15px 0 #E84343;
}

.content3 {
    grid-area: content3;
    text-align: center;
    margin: 20px 0px 0px 20px;
}

.content3 .daft-title {
    font-size: 35px;
}

.content3 .daft-title:hover{
    color: cadetblue;
}

.content3 .daft-years {
    font-size: 25px;
}

.content3 .daft-years:hover{
    color: cadetblue;
}

.content3 .daft-index:hover{
    color: cadetblue;
}

/* Fin Css grid Inicio */



/* Index Final */





/* Inicio discos */


/* Inicio grids discos */

.fondo-discos{
    background-image: url(./img/party-fondo.jpg);
    background-size: cover
}

.grid2 {
    display: grid;
    gap: 20px;
    grid-template: 
    'iframe1 iframe2 iframe3'
    'img1 img2 img3';
    align-items: center;
}

.iframe1 {
    grid-area: iframe1;
    
}

.iframe2 {
    grid-area: iframe2;
}

.iframe3 {
    grid-area: iframe3;
}

.iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
    width: 100%;
    height: 30em;
}

.iframe1, .iframe2, .iframe3{
    box-shadow: 0 0 15px 0 #0D8573;
}

.img1 {
    grid-area: img1;
}

.img1 img{
    height: 100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img2 {
    grid-area: img2;
}

.img2 img{
    height: 100%;
    box-shadow: 0 0 15px 0 #0D8573;
    
}

.img3 {
    grid-area: img3;
}

.img3 img{
    height: 100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img1, .img2, .img3 {
    margin: 15px;
    text-align: center;
}

.img1 img:hover, .img2 img:hover, .img3 img:hover{
transform: scale(1.1);
transition: 0.7s;
box-shadow: 0 0 15px 0 #E84343;
}
/* Fin grids discos */


.discos h1{
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Fin discos */




/* Inicio Integrantes */

.band{
    display: block;
}

.band h1{
    color: white;
    text-align: center;
    font-size: 40px;
}


.band img {
    margin-top: 20px;
    margin-left: 450px;
    width: 600px;
    height: 374px;
    border: 7px solid white;
    box-shadow: 0 0 50px 0 #0D8573;
}

.band img:hover {
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 15px 0 #E84343;
}

.txt-band{
    font-size: 25px;
    text-align: center;
}

.txt-names {
    font-size: 30px;
    margin-top: 15px;
    color:white;
}

.txt-names2 {
    font-size: 20px;
    color:white;
}

.txt-names:hover, .txt-names2:hover{
    color: #0D8573;
}

/* Fin Integrantes */

/* Inicio Historia */

/* Css grid Historia*/
.grid-historia {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 30px;
    margin-bottom: 2em;
}

.grid-historia .guythomas img{
    height: 500px;
    border: 10px solid white;
}

.grid-historia .guythomas img:hover{
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 15px 0 #E84343;
    filter: grayscale(90%);
}


.txt-guythomas {
    color: white;
}

.txt-origins:hover, .txt-origins2:hover{
    color: #b40101;
}

.txt-origins {
    font-size: 30px;
}

.txt-origins2 {
    font-size: 23px;
    margin-top: 10px;
}

/* Css grid Historia */



/* Inicio Galeria Grids historia */

.galeria {
    min-height: 800px;
    width: 100%;
    display: grid;
    padding: 20px;
    gap: 10px;
}

.txt-galeria {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img {
    border: 2px solid white;
    border-radius: 7px;
}

.img:hover{
    transform: scale(1.1);
    transition: all 0.7s;
    filter: grayscale(95%);
}

.img-1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: blue;
    background-image: url(img/galeria/1.jpg);
    background-position: center;
    background-size: cover;
}

.img-2 {
    grid-column: 2/2;
    grid-row: 1/2;
    background-color: cadetblue;
    background-image: url(img/galeria/2.jpg);
    background-position: center;
    background-size: cover;
}

.img-3 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: brown;
    background-image: url(img/galeria/3.webp);
    background-position: center;
    background-size: cover;
}

.img-4 {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: crimson;
    background-image: url(img/galeria/4.webp);
    background-position: center;
    background-size: cover;
}

.img-5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: darkmagenta;
    background-image: url(img/galeria/5.jpeg);
    background-position: center;
    background-size: cover;
}

.img-6 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: cornflowerblue;
    background-image: url(img/galeria/6.jpg);
    background-position: center;
    background-size: cover;
}

.img-7 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: darkolivegreen;
    background-image: url(img/galeria/7.webp);
    background-position: center;
    background-size: cover;
}


.img-8 {
    grid-column: 3/5;
    grid-row: 3/4;
    background-color: darkolivegreen;
    background-image: url(img/galeria/8.jpg);
    background-position: center;
    background-size: cover;
}

/* Fin Galeria Grids historia */



/* Inicio videos Historia*/
.video-container h2{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video-area p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.video-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.single video {
    width:  480px;
    height: 320px;
    box-shadow: 0 0 8px 0 #0D8573;
    margin: 0px 0px 10px 10px;
}

.txt-videos {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Fin videos Historia */


/* Fin Historia */



/* Inicio Contacto */
.container {
    width: 80%;
    margin: 50px auto;
}


.contact-box {
    background: #fff;
    display:flex;
}


.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-left h3 {
    margin-bottom: 30px;
    color: #b40101;
}


.contact-right .txt-follow {
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-right .txt-listen {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background:  rgb(90, 89, 89);
    color: #fff;
}

.container h1{
    margin-bottom: 10px;
    color:white;
}

.container p{
    margin-bottom: 40px;
    color: white;
}

.contact-left h3, .contact-right h3 {
    font-size: 20px
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row .input-group {
    flex-basis: 45%;
}

.message {
    resize: none;
}


input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;

}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing:border-box;
}


label {
    margin-bottom: 6px;
    display: block;
    color: #b40101;
}

button {
    background: #b40101;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181,0.3);
}


.follow {
    list-style: none;
}

.follow li{
    display: inline-block;
}

.follow li a{
    color: white;
    margin-left: 15px;
    font-size: 40px;
}

.follow li a:hover {
    color: red;
}

.music {
    list-style: none;
}

.music li{
    display: inline-block;
}

.music li a{
    color: white;
    margin-left: 15px;
    font-size: 40px;
}

.music li a:hover {
    color: red;
}
/* Fin Contacto */


/* Inicio pie de pagina */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #3D0000;
    color: white;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: auto;
}

.txt-sin{
    margin: 20px;
    color: white;
}

.txt-sin:hover{
    color: none;
}

.txt-fdo{
    color:white;
    text-decoration: none;
}

.txt-fdo:hover{
    color: #0D8573;
    text-decoration: none;
}

.social{
    list-style: none;
    margin-right: 15px;
}

.social li{
    display: inline-block;
    margin: 0px 0px 0px 15px;
}

.social li a{
    color: white;
    font-size: 20px;
}

.social li a:hover {
    color: red;
}

/* fin pie de pagina */


/* Tamaño pantallas */

@media screen and (min-width: 780px) and (max-width: 1920px)

/* Tamaño Inicio 780x1920*/
{
    .grid{
        grid-template: 
        'content1 content2'
        'content3 content3';
        gap: 20px;
    }


    .content1 video{
        grid-area: content1;
        box-shadow: 0 0 15px 0 #0D8573;
        width: 100%;     

    }
    
    
    .content2 img{
        grid-area: content2;
        width: 100%;
        height: 100%;
    }
    
    .content3 {
        grid-area: content3;
        color: white;
        justify-items: center;
    }

/* Fin Tamaño Inicio 780x1920*/


/* Inicio Tamaño Discos 780x1920*/

    .grid2 {
        grid-template: 
        'iframe1 iframe2 iframe3'
        'img1 img2 img3';
        gap: 10px;
    }


    .iframe1 {
        grid-area: iframe1;
        width: 100%;
        height: 100%;
        
    }
    
    .iframe2 {
        grid-area: iframe2;
        width: 100%;
        height: 100%;
    }
    
    .iframe3 {
        grid-area: iframe3;
        width: 100%;
        height: 100%;
    }
    
    .iframe1, .iframe2, .iframe3{
        box-shadow: 0 0 15px 0 #0D8573;
    }
    
    .iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
        width: 100%;
        height: 250%;
    }

    .img1 {
        grid-area: img1;
    }
    
    .img1 img{
        width: 100%;
        height:100%;
        box-shadow: 0 0 15px 0 #0D8573;
    }
    
    .img2 {
        grid-area: img2;
    }
    
    .img2 img{
        width: 100%;
        height:100%;
        box-shadow: 0 0 15px 0 #0D8573;
    }
    
    .img3 {
        grid-area: img3;
    }
    
    .img3 img{
        width: 100%;
        height:100%;
        box-shadow: 0 0 15px 0 #0D8573;
    }
    
    .img1, .img2, .img3 {
        margin-top: 15em;
        text-align: center;
    }


    /* Fin Tamaño Discos 780x1920*/

    /* Inicio historia 780x1920*/
    .galeria {
        min-height: 500px;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }
    /*Fin Historia 780x1920*/
}

@media screen and (min-width: 480px) and (max-width: 780px) 

/* Inicio Index 480x780 */

{

    .grid{
        grid-template: 
        'content1 content2'
        'content3 content3';
        gap: 15px
    }


    .content1 video{
        grid-area: content1;
        box-shadow: 0 0 15px 0 #0D8573;
        width: 100%;     
    }
    
    .content2 img{
        grid-area: content2;
        width: 100%;
        height: 100%;
    }
    
    .content3 {
        grid-area: content3;
        color: white;
        justify-items: center;
    }
/* Inicio Index 480x780 */

/* Inicio Discos 480x780 */
.grid2 {
    grid-template: 
    'iframe1 iframe2 iframe3'
    'img1 img2 img3';
    gap: 10px;
}


.iframe1 {
    grid-area: iframe1;
    width: 100%;
    height: 100%;
    
}

.iframe2 {
    grid-area: iframe2;
    width: 100%;
    height: 100%;
}

.iframe3 {
    grid-area: iframe3;
    width: 100%;
    height: 100%;
}

.iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
    width: 100%;
    height: 250%;
}

.iframe1, .iframe2, .iframe3{
    box-shadow: 0 0 15px 0 #0D8573;
}

.img1 {
    grid-area: img1;
}

.img1 img{
    margin-top: 15em;
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img2 {
    grid-area: img2;
}

.img2 img{
    margin-top: 15em;
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img3 {
    grid-area: img3;
}

.img3 img{
    margin-top: 15em;
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img1, .img2, .img3 {
    text-align: center;
}

/* Inicio Discos 480x780 */

/* Inicio Historia 480x780 */

    .galeria {
        min-height: 300px;
        width: 100%;
        padding: 50px;
        gap: 5px;
    }
}

/*Fin Historia 480x720 */




@media screen and (max-width: 480px) {

/* Inicio Index 480*/
.grid{
    grid-template: 
    'content1 content2'
    'content3 content3';
    gap: 15px;
}

.content1 video{
    grid-area: content1;
    box-shadow: 0 0 15px 0 #0D8573;
    width: 100%;     
}


.content2 img{
    grid-area: content2;
    width: 100%;
    height: 100%;
}

.content3 {
    grid-area: content3;
    color: white;
    justify-items: center;
}
/* Fin Index 480*/


/* Inicio Discos 480*/

.grid2 {
    grid-template: 
    'iframe1 iframe2 iframe3'
    'img1 img2 img3';
    gap: 10px;
}


.iframe1 {
    grid-area: iframe1;
    width: 100%;
    height:100%;
    
}

.iframe2 {
    grid-area: iframe2;
    width: 100%;
    height: 100%;
}

.iframe3 {
    grid-area: iframe3;
    width: 100%;
    height: 100%;
}

.iframe1, .iframe2, .iframe3{
    box-shadow: 0 0 15px 0 #0D8573;
}

.iframe1 iframe, .iframe2 iframe, .iframe3 iframe{
    width: 100%;
}

.img1 {
    grid-area: img1;
}

.img1 img{
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img2 {
    grid-area: img2;
}

.img2 img{
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img3 {
    grid-area: img3;
}

.img3 img{
    width: 100%;
    height:100%;
    box-shadow: 0 0 15px 0 #0D8573;
}

.img1, .img2, .img3 {
    text-align: center;
}

/* Fins Discos 480*/



/* Inicio Galeria Historia 480*/
    .galeria {
        padding: 10px;
        gap: 2px;
    }
}
/* Fin galeria Historia 480 */

/* Fin Tamaño pantallas */